<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SmartBear.TestLeft" publicKeyToken="483cb98dc5760d9e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.60.5545.11" newVersion="12.60.5545.11" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>