/main/TestLeft/PageObjectInterfaces/obj/Debug
/main/TestLeft/TestAutomation/obj/Debug
/main/TestLeft/TestLeftBase/obj/Debug
/main/TestLeft/UI_Tests/obj/Debug
/main/TestLeft/.vs/HomeZone UI Tests/v15
/main/TestLeft/bin/Debug
/main/TestLeft/PageObjectInterfaces/bin/Debug
