<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <add key="repositoryPath" value=".\_external\packages" />
    </config>
  <packageSources>
        <add key="homezone-nuget-local-release" value="https://trumpf.jfrog.io/trumpf/api/nuget/homezone-nuget-local-release" />
        <add key="hmi-ext-local" value="http://srv01af1:8081/artifactory/api/nuget/hmi-ext-local" />
        <add key="hmi-release-local" value="http://srv01af1:8081/artifactory/api/nuget/hmi-release-local" />
        <add key="hmi-snapshot-local" value="http://srv01af1:8081/artifactory/api/nuget/hmi-snapshot-local" />
        <add key="tops-release-local" value="http://srv01af1:8081/artifactory/api/nuget/nuget-libs-release-local" />
        <add key="nuget-libs-release" value="http://srv01af1:8081/artifactory/api/nuget/nuget-libs-release" />
        <add key="nuget-libs-snapshot" value="http://srv01af1:8081/artifactory/api/nuget/nuget-libs-snapshot" />
    </packageSources>
  <packageSourceCredentials>
    <homezone-nuget-local-release>
       <add key="Username" value="steinertth" />
       <add key="ClearTextPassword" value="HomeZone" />
    </homezone-nuget-local-release> 
    <tops-release-local>
       <add key="Username" value="hmiadmin" />
       <add key="ClearTextPassword" value="einfach2007" />
    </tops-release-local> 
    <hmi-ext-local>
       <add key="Username" value="hmiadmin" />
       <add key="ClearTextPassword" value="einfach2007" />
    </hmi-ext-local>
    <hmi-release-local>
       <add key="Username" value="hmiadmin" />
       <add key="ClearTextPassword" value="einfach2007" />
    </hmi-release-local>
    <hmi-snapshot-local>
       <add key="Username" value="hmiadmin" />
       <add key="ClearTextPassword" value="einfach2007" />
    </hmi-snapshot-local>
    <nuget-libs-release>
       <add key="Username" value="hmiadmin" />
       <add key="ClearTextPassword" value="einfach2007" />
    </nuget-libs-release>    
	<nuget-libs-snapshot>
       <add key="Username" value="hmiadmin" />
       <add key="ClearTextPassword" value="einfach2007" />
    </nuget-libs-snapshot>
  </packageSourceCredentials>
  <activePackageSource>
    <add key="hmi-ext-local" value="http://srv01af1:8081/artifactory/api/nuget/hmi-ext-local" />
  </activePackageSource>
</configuration>