<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SmartBear.TestLeft" publicKeyToken="483cb98dc5760d9e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.31.1833.11" newVersion="12.31.1833.11" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>