<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SmartBear.TestLeft" publicKeyToken="483cb98dc5760d9e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.50.4142.11" newVersion="12.50.4142.11" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SmartBear.TestLeft.WebApiWrapper" publicKeyToken="483cb98dc5760d9e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.60.5545.11" newVersion="12.60.5545.11" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>