<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Factshub.Connector" version="4.5.9" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="Trumpf.AutoTest.Artifacts" version="1.4.0" targetFramework="net461" />
  <package id="Trumpf.AutoTest.Facts" version="4.5.0" targetFramework="net461" />
  <package id="Trumpf.AutoTest.Facts.Interfaces" version="1.1.0" targetFramework="net461" />
  <package id="Trumpf.AutoTest.Utilities" version="1.5.0" targetFramework="net461" />
</packages>